<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>99815309732-g8en0911ir8l15caci1i7rh71ggg2nsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99815309732-g8en0911ir8l15caci1i7rh71ggg2nsk</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ2iwBUPEeGP3gOCTuUN5HCkwqD30At9A</string>
	<key>GCM_SENDER_ID</key>
	<string>99815309732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyProject</string>
	<key>PROJECT_ID</key>
	<string>travelapp-11e4d</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-11e4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99815309732:ios:386a7071149502de</string>
	<key>DATABASE_URL</key>
	<string>https://travelapp-11e4d.firebaseio.com</string>
</dict>
</plist>